body {
    background-color: #181818;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: start;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.form-container {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ffffff;
}

form {
    margin-top: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    width: 90%;
    padding: 20px;
    background-color: #0026ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin: 20px;
}

button:hover {
    background-color: rgb(0, 15, 219);
}
